:root {
    --vermelho-fraco: hsl(356, 100%, 66%);
    --vermelho-mais-fraco: hsl(355, 100%, 74%);
    --azul-escuro: hsl(208, 49%, 24%);

    --branco-texto: hsl(0, 0%, 100%);
    --cinza-azulado: hsl(240, 2%, 79%);
    --cinza-azulado-escuro: hsl(207, 13%, 34%);
    --cinza-azulado-mais-escuro: hsl(240, 10%, 16%);

    --vermelho-clarinho: hsl(13, 100%, 72%);
    --vermelho: hsl(353, 100%, 62%);

    --cinza-azulado-muito-escuro: hsl(237, 17%, 21%);
    --cinza-azulado-dessaturado: hsl(237, 23%, 32%);

    --fonte-primaria: 'Overpass', sans-serif;
    --fonte-secundaria: 'Ubuntu', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.navbar ul {
    display: none;
}

a {
    font-family: var(--fonte-primaria);
    text-decoration: none;
    color: var(--cinza-azulado);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}

a:hover {
    text-decoration: underline 2px;
    color: var(--branco-texto);
}

.start-container {
    background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, var(--vermelho-clarinho), rgba(253, 35, 71, 0.904));
    width: 100%;
    background-size: 2750px 2500px, contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 65%;
    border-bottom-left-radius: 60px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
}

.container-header {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    align-items: center;
    cursor: pointer;
}

.arrow {
    background-repeat: no-repeat;
}

.btn-login {
    border: transparent;
    background: transparent;
    color: var(--cinza-azulado);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    padding: 12px 30px;
}

.btn-signup {
    padding: 12px 30px;
    background-color: var(--branco-texto);
    border: none;
    border-radius: 50px;
    color: var(--vermelho-fraco);
    font-weight: 700;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
}

.btn-signup:hover {
    background-color: var(--vermelho-mais-fraco);
    color: var(--branco-texto);
}

button {
    cursor: pointer;
}

.start-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

h1 {
    color: var(--branco-texto);
    font-family: var(--fonte-primaria);
    font-size: 100px;
}

.start-text p {
    color: var(--cinza-azulado);
    font-size: 36px;
    font-family: var(--fonte-primaria);
    font-weight: 500;
    padding-bottom: 40px;
}

.btn-learnmore {
    padding: 12px 30px;
    background-color: transparent;
    border: 1px solid var(--branco-texto);
    border-radius: 50px;
    color: var(--branco-texto);
    font-weight: 700;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
}

.btn-learnmore:hover {
    background-color: var(--branco-texto);
    color: var(--vermelho-fraco);
}

.container-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-first-article {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    height: 500px;
}

.container-first-article p {
    width: 600px;
    padding: 30px 0px 50px 0px;
    font-size: 17px;
    font-family: var(--fonte-primaria);
    color: var(--cinza-azulado);
    font-weight: 600;
    text-wrap: wrap;
    letter-spacing: 0.5px;
    line-height: 27px;
}

.container-first-article span {
    font-size: 24px;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    color: var(--cinza-azulado-dessaturado);
}

.container-first-text-article {
    width: 65%;
    padding: 0px 0px 0px 250px;
}

.img-first-article {
    width: 100%;
}

.img-first-article img {
    position: relative;
    right: -40%;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: var(--fonte-primaria);
    color: var(--cinza-azulado-dessaturado);
    padding-bottom: 30px;
}

article {
    width: 100%;
    height: 800px;
    padding-top: 200px;
}

.container-second-article {
    background: url('../images/bg-pattern-circles.svg'), hsl(236, 24%, 25%);
    background-repeat: no-repeat;
    background-position: bottom left;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: space-evenly;
}

.phone-img {
    position: relative;
    top: -70px;
    height: 135%;
}

.container-second-text-article {
    text-wrap: wrap;
    width: 50%;
    padding: 0px 220px;
    color: var(--branco-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 20px;
}

.container-second-text-article p {
    font-weight: 400;
    font-family: var(--fonte-primaria);
    line-height: 27px;
    color: hsla(0, 0%, 100%, 0.719);
}

.container-third-article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h4 {
    width: 100%;
    font-size: 32px;
    font-family: var(--fonte-primaria);
    color: var(--cinza-azulado-dessaturado);
    padding-bottom: 30px;
}

.container-third-article p {
    width: 600px;
    padding: 30px 0px 50px 0px;
    font-size: 17px;
    font-family: var(--fonte-primaria);
    color: var(--cinza-azulado);
    font-weight: 600;
    text-wrap: wrap;
    letter-spacing: 0.5px;
    line-height: 27px;
}

.img-third-article {
    width: 40%;
    position: relative;
    left: -20%;
}

.container-third-text-article {
    text-wrap: wrap;
    width: 50%;
    padding: 0px 0px 0px 220px;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--cinza-azulado-mais-escuro);
    margin-top: 300px;
    padding: 100px 0px;
    color: var(--branco-texto);
    border-top-right-radius: 100px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
}

footer div ul {
    list-style: none;
}

footer div p {
    font-weight: 600;
    font-family: var(--fonte-primaria);
    padding-bottom: 35px;
}

footer div ul li {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    color: var(--cinza-azulado);
    padding-bottom: 15px;
    cursor: pointer;
}

footer div ul li:hover {
    text-decoration: underline 2px;
}

footer div img {
    width: 100px;
    height: 40px;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {

    .start-container {
        background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to right, var(--vermelho-clarinho), rgba(253, 35, 71, 0.904));
        width: 100%;
        background-size: 1300px 1300px, contain;
        background-position: center;
        height: 80%;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px;
    }

    .container-header {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .navbar {
        display: none;
    }

    header button {
        display: none;
    }

    .start-text {
        padding: 70px 20px 0px 20px;
        text-align: center;
    }

    h1 {
        color: var(--branco-texto);
        font-family: var(--fonte-primaria);
        font-size: 36px;
        padding-bottom: 10px;
    }

    .start-text p {
        font-size: 22px;
    }

    .btn-learnmore {
        padding: 10px 18px;
        font-size: 14px;
    }
    
    .container-buttons {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    
    .container-first-article {
        width: 100%;
        height: 1000px;
        display: flex;
        align-items: center;
        height: 500px;
    }

    .btn-signup {
        padding: 10px 18px;
        font-size: 14px;
    }
}